* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
  font-size: 13px;
}

a {
  text-decoration: none;
}

a:hover,
input:focus,
button:focus {
  outline: 0;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #e8e8e8;
  transition: box-shadow .3s ease;
  color: #6d6d6d;
  
  &.shadow:focus {
    box-shadow: 0px 0px 10px 1px #f0f0f0;
  }
}

li {
  list-style: none;
}

/*
    layout
*/
.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
}

/*
Buttons
*/
.btn {
  background: #293880;
  color: white;
  padding: 10px 15px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;

  &--block {
    width: 100%;
  }

  &--sec {
    background: #f0f9ff;
    color: black;
  }
}
